body {
    font-family: 'Poppins', sans-serif !important;
    background: #F6F7FB !important;
}

body .row {
    margin: 0 !important;
}

body p {
    color: #B6BAC3;
    font-family: 'Poppins', sans-serif !important;
}

body a {
    color: #526CFE;
    transition: all 0.3s ease-out;
    font-family: 'Poppins', sans-serif !important;
}

.ui.modal>.header {
    font-family: 'Poppins', sans-serif !important;
}

body a:hover {
    color: #19233B;
}

body h2.section-heading {
    font-size: 28px;
    font-weight: 700;
    color: #19233B;
    font-family: 'Poppins', sans-serif !important;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    font-weight: 700;
    font-family: 'Poppins', sans-serif !important;
    color: #19233B;
}

body .ui.primary.button {
    background-color: #526CFE;
    -webkit-box-shadow: 0px 10px 30px -13px rgba(82, 108, 254, 0.7);
    -moz-box-shadow: 0px 10px 30px -13px rgba(82, 108, 254, 0.7);
    box-shadow: 0px 10px 30px -13px rgba(82, 108, 254, 0.7);
    transition: all 0.3s ease-out;
}

body .ui.primary.button:hover {
    background-color: rgb(72, 98, 241);
    box-shadow: none;
    transform: scale(0.99);
}

body .btn-ghost-red {
    background-color: transparent !important;
    border: 1px solid #DD333F !important;
    color: #DD333F !important;
}

body .shadow {
    -webkit-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.3) !important;
    -moz-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.3) !important;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding-l {
    padding-left: 0 !important;
}

.no-padding-r {
    padding-right: 0 !important;
}

.col-right {
    justify-content: flex-end !important;
    display: flex !important;
}

.ver-center {
    display: flex !important;
    align-items: center !important;
}

body .ui.dimmer {
    background-color: rgba(82, 108, 254, 0.98);
}

.sidebar {
    width: 20%;
    background: #526CFE;
    background-image: linear-gradient(45deg, rgba(82,108,254,1) 0%, rgba(66,195,175,1) 100%);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
    padding-left: 40px;
    z-index: 999;
}

.sidebar .logo {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.sidebar .logo-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-nav ul > li {
    position: relative;
}

.sidebar-nav ul > li > a {
    color: #fff;
    line-height: 3;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.3s ease-out;
}

.sidebar-nav ul > li > a:hover {
    color: #000;
    text-decoration: none;
}

.sidebar-nav ul > li > a:hover::before {
    content: '';
    position: absolute;
    background: #fff;
    width: 5px;
    top: 0;
    bottom: 0;
    left: -40px;
}

.ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu {
    padding-right: 40px !important;
}

.ui.secondary.menu {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F6F7FB !important;
}

/*.ui.secondary.menu::before {
    content: '';
    position: absolute;
    left: calc(25% + 20px);
    right: 20px;
    bottom: 0;
    top: 0;
    -webkit-box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.1);
    box-shadow: 0px 15px 15px -15px rgba(0,0,0,0.1);
    background: #F6F7FB;
    z-index: -1;
}*/

.navbar-greeting {
    color: #526CFE;
    padding-right: 15px;
}

.navbar-route {
    color: #19233B;
    font-weight: 700;
}

.left.menu {
    margin-left: calc(20% + 20px) !important;
}

.navbar-greeting:after {
    content: '';
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #B6BAC3;
}

.not-verified-container {
    margin-left: calc(20% + 40px);
    margin-right: 40px;
    background: #FF4653;
    margin-top: 100px;
    padding: 20px;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);

    margin-bottom: -50px;
}

.message-container {
    left: calc(20% + 40px);
    right: 40px;
    background: #FF4653;
    padding: 20px;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
    position: fixed;
    top: 90px;
    z-index: 999;
}

.message-container.hidden {
    display: none;
}

.not-verified-container p,
.message-container p {
    color: #fff;
    font-weight: 700;
}

.not-verified-container .row,
.message-container .row {
    margin: 0 !important;
}

.ui.form .field > label {
    margin-bottom: 0.5rem !important;
}

.login-container .login-form {
    background: #fff;
    padding: 20px;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
}

.login-form-container {
    width: 33.333%;
}

.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-head {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #526CFE;
    border-top-left-radius: .28571429rem;
    border-top-right-radius: .28571429rem;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.form-head span {
    font-weight: 700;
    color: #fff;
}

.login-container .login-form .field:nth-child(2) {
    margin-top: 60px;
}

.login-container .login-form .submit-button {
    text-align: center;
}

.login-form-container p {
    text-align: center;
    margin-top: 40px;
}

.login-form-container .logo-container {
    margin-bottom: 80px;
}

.login-form-container p.logo {
    font-size: 30px;
    font-weight: 700;
    color: #19233B;
}

.ui.loading.form:before {
    border-radius: .28571429rem !important;
}

.new-package-form input,
.new-package-form textarea,
.new-package-form .ui.selection.dropdown {
    border-color: transparent !important;
    background: #F6F7FB !important;
    transition: all 0.3s ease-out !important;
}

.new-package-form input:focus,
.new-package-form textarea:focus,
.new-package-form .ui.selection.dropdown:focus {
    border-color: #42C3AF !important;
    background: #fff !important;
}

.new-package-form .field {
    /*-webkit-box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);*/
    float: left;
    width: 100%;
}

.new-package-form .additional-inputs .row {
    margin-bottom: 30px !important;
}

.new-package-form .row .button {
    text-align: center;
}

.additional-inputs {
    background: #fff;
    -webkit-box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
    border-bottom-left-radius: .28571429rem;
    border-bottom-right-radius: .28571429rem;
    padding: 20px !important;
}

.input-50 {
    width: 50% !important;
    float: left;
}

.input-50 input#you_get {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    background: #42C3AF !important;
    opacity: 1 !important;
    color: #fff;
}

.input-50 input#price {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

body .field label {
    font-weight: 400 !important;
}

.dnd-container-empty {
    width: 100%;
    height: 200px;
    background: #526CFE;
    border: 0px solid #fff;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dnd-container-empty p {
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 2 !important;
    font-size: 20px;
}

.dnd-container-hasfiles {
    width: 100%;
    background: #fff;
    border: 0px solid #fff;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
    min-height: 200px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dnd-container-hasfiles:focus,
.dnd-container-empty:focus {
    outline: none !important;
}

.dnd-file-item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #F0F1F2;
    position: relative;
}

.dnd-file-item .file-name-col {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dnd-file-item .file-name-col p {
    color: #19233B;
}

.dnd-files-head {
    background: #526CFE;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dnd-files-footer {
    background: #526CFE;
}

.dnd-files-head p,
.dnd-files-footer p  {
    color: #fff;
}

/*.dnd-file-item .file-name-col::after {
    content: "...";
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    padding: 0 5px;
}*/

.dnd-file-item i {
    font-size: 20px;
}

.dnd-file-item i.red {
    color: #FF4653;
}

.spanlike-btn-ghost-b {
    background-color: #526CFE !important;
    color: #fff !important;
    border: 2px solid #fff !important;
    font-size: 14px !important;
}

.spanlike-btn-ghost-g {
    background-color: #F6F7FB !important;
    color: #B6BAC3 !important;
    border: 2px solid #B6BAC3 !important;
    font-size: 14px !important;
}

.spanlike-btn-ghost-b:hover {
    box-shadow: none !important;
    transform: scale(0.98);
}

.spanlike-btn {
    box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.7) !important;
    transition: all 0.3s ease-out !important;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: rgba(0,0,0,.6);
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}

.inner-container {
    margin-left: 20%;
    margin-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
}

.bg-gradient-blue {
    background: rgb(82,108,254);
    background: linear-gradient(45deg, rgba(82,108,254,1) 0%, rgba(66,195,175,1) 100%);
}

.bg-gradient-orange {
    background: #F58220;
    background: linear-gradient(45deg, #F58220 0%, #FCB716 100%);
}

.bg-white {
    background: #fff;
}

.gradient-block {
    background: #fff;
    /*background: -moz-linear-gradient(45deg, rgba(82,108,254,1) 0%, rgba(66,195,176,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(82,108,254,1)), color-stop(100%, rgba(66,195,176,1)));
    background: -webkit-linear-gradient(45deg, rgba(82,108,254,1) 0%, rgba(66,195,176,1) 100%);
    background: -o-linear-gradient(45deg, rgba(82,108,254,1) 0%, rgba(66,195,176,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(82,108,254,1) 0%, rgba(66,195,176,1) 100%);
    background: linear-gradient(45deg, rgba(82,108,254,1) 0%, rgba(66,195,176,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#526cfe', endColorstr='#42c3b0', GradientType=1 );*/
    border-radius: .28571429rem;
    -webkit-box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3);
}

.block-icon {
    font-size: 20px;
    color: #fff;
}

.block-heading {
    color: #fff;
}

.block-head {
    background: #526CFE;
    padding: 15px;
    border-top-left-radius: .28571429rem;
    border-top-right-radius: .28571429rem;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgb(49, 77, 235);
}

.block-head h3 {
    color: #fff;
}

.gradient-block ul {
    list-style-type: none;
    padding: 0;
}

.gradient-block ul li {
    line-height: 2;
}

.subscription-details .row {
    margin-bottom: 20px !important;
    padding-left: 20px;
    padding-right: 20px;
}

.subscription-details .row > .button {
    text-align: center;
    padding-bottom: 20px;
}

.icon-wrapper {
    width: 35px !important;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #526CFE;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
}

.icon-wrapper::after {
    content: '';
    width: 2px;
    position: absolute;
    height: 22px;
    left: 50%;
    top: 100%;
    background: #526CFE;
}

.subscription-details .row:nth-last-child(2) .icon-wrapper::after {
    content: '';
    width: 0px;
    height: 0px;
}

.icon-wrapper i {
    color: #526CFE;
}

.details-text {
    height: 35px;
    display: flex;
    align-items: center;
}

.details-text p {
    color: #19233B;
}

body .ui.primary.button.green {
    background: #42C3AF;
}

body .ui.primary.button.primary-transparent-ghost {
    background: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
    color: #B6BAC3 !important;
}

body .ui.primary.button.primary-transparent-ghost:hover {
    background: #F6F7FB !important;
}

/*** Packages container ***/
.packages-container {
    background: #fff;
    border-radius: .28571429rem;
}

.pagination-container {
    margin-bottom: 10px;
    text-align: right;
}

.pagination-container .ui.primary.button,
.pagination-container .ui.primary.button:focus {
    background: #fff;
    border: 1px solid #F0F1F2 !important;
    color: #B6BAC3;
    box-shadow: 0px 10px 30px -13px rgba(82, 108, 254, 0.7) !important;
}

.pagination-container .ui.primary.button:hover {
    border-color: #526CFE !important;
    color: #526CFE;
    background: #fff;
}

.pagination-container .ui.primary.button i.icon {
    margin: 0 !important;
}

.packages-head {
    padding: 20px;
    background: #526CFE;
    border-top-left-radius: .28571429rem;
    border-top-right-radius: .28571429rem;
}

.packages-head p {
    color: #fff;
}

.packages-item {
    padding: 20px;
    border-bottom: 1px solid #F6F7FB;
}

.packages-item p {
    color: #19233B;
}

.packages-item .package-id p {
    color: #B6BAC3;
}

.packages-item .package-title > p:nth-child(1) {
    font-weight: 700;
}

p.active-pkg {
    color: #42C3AF;
}

p.expired-pkg {
    color: #FF4653;
}

.package-id,
.package-created,
.package-expires,
.package-details {
    display: flex;
    align-items: center;
}

.packages-item .package-details {
    text-align: center;
}

.list-controls .ui.selection.dropdown {
    margin-right: 5px;
}

/*** Single package ***/
.package-content-container {
    border-radius: .28571429rem;
    background: #fff;
}

.package-content-head {
    padding: 20px;
    background: #526CFE;
    border-top-left-radius: .28571429rem;
    border-top-right-radius: .28571429rem;
}

.package-content-footer {
    padding: 20px;
    background: #F6F7FB;
}

.package-content-footer p {
    font-weight: 700;
    color: #526CFE;
}

.package-content-head p {
    color: #fff;
}

.package-content-item {
    padding: 20px;
    border-bottom: 1px solid #F6F7FB;
}

.package-content-item i {
    font-size: 20px;
}

.package-content-item p {
    color: #19233B !important;
}

.btn-delete {
    width: 100% !important;
    margin-bottom: 20px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border: 2px solid #FF4653 !important;
    background: transparent !important;
    color: #FF4653 !important;
}

.btn-delete:hover {
    background: #DD333F !important;
    border-color: #DD333F !important;
    color: #fff !important;
}

.modal-body .btn-delete {
    width: 100% !important;
    margin-bottom: 20px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border: 2px solid #FF4653 !important;
    color: #fff !important;
    background-color: #FF4653 !important;
}

.modal-body .btn-delete:hover {
    background: #DD333F !important;
    border-color: #DD333F !important;
    color: #fff !important;
}

.modal-body .btn-back {
    width: 100% !important;
    margin-bottom: 10px !important;
    margin-top: 20px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background: #fff !important;
    border: 2px solid #42C3AF !important;
    color: #42C3AF !important;
}

.modal-body .btn-back:hover {
    background: #37a897 !important;
    border-color: #37a897 !important;
    color: #fff !important;
}

.btn-share {
    width: 100% !important;
    margin-bottom: 10px !important;
    margin-top: 20px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background: #42C3AF !important;
    border: 2px solid #42C3AF !important;
}

.btn-share:hover {
    background: #37a897 !important;
    border-color: #37a897 !important;
}

.package-info-container {
    background: #fff;
    border-radius: .28571429rem;
}

.package-info-container .row-info {
    padding: 20px;
    border-bottom: 1px solid #F6F7FB;
}

.package-info-container .row-info p {
    font-weight: 700;
    color: #19233B;
    font-size: 16px;
}

.package-info-container label {
    display: block !important;
    width: 100%;
}

div.oneline-div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.oneline-div:after {
    content: "...";
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 0 5px;
    color: #B6BAC3;
}

/*** New package modal ***/
.ui.active.modal {
    position: fixed !important;
    top: 20% !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;
    height: auto !important;
}

.emails-container {
    max-height: 800px;
    overflow: auto;
}

.email-item-container {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #F0F1F2;
}

.email-item-container.selected {
    background: #37a8971f;
    border-radius: .28571429rem;
    border-bottom-color: transparent;
}

.email-item-container .email-checkbox {
    width: 40px;
    height: 40px;
    background: #37a89775;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s ease-out;
}

.email-item-container.non-selected .email-checkbox i {
    color: #B6BAC3;
}

.email-item-container.non-selected .email-checkbox {
    background: #fff;
    border: 2px solid #B6BAC3;
}

.email-item-container .email-checkbox i {
    color: #37a897;
    transition: all 0.3s ease-out;
}


.email-item-container .email-checkbox:hover i {
    color: #fff;
}


.email-item-container.selected .email-checkbox:hover .fa-check:before {
    content: "\f00d" !important;
}

.email-item-container.selected .email-checkbox:hover {
    background: #FF4653;
}

.email-item-container.non-selected .email-checkbox:hover {
    background: #B6BAC3;
    cursor: pointer;
}

.email-item-container .email-checkbox:hover {
    cursor: pointer;
}

.email-item-container .email-checkbox:hover i {
    color: #fff;
}

.email-item-container .email-email-container p {
    font-weight: 700;
    color: #19233B;
}

.email-item-container .email-email-container p.muted {
    color: #B6BAC3;
}

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-right {
    justify-content: flex-end !important;
}

.email-no-image {
    width: 40px;
    height: 40px;
    background: #acacac75;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 700;
    color: #fff;
}

.email-sent {
    color: #37a897;
    background: #37a89775;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    border-radius: .28571429rem;
    font-weight: 700;
}

.actions {
    text-align: right !important;
    padding-top: 20px;
}

.actions span {
    color: #B6BAC3;
}

.actions button.ui.primary.button.green {
    margin-right: 0;
    margin-left: 20px;
}

/*** Upgrade Account Banner ***/
.row.widget-row {
    margin-bottom: 30px !important;
    padding-bottom: 20px;
    border-bottom: 1px solid #F0F1F2;
}

.widget-container {
    margin-bottom: 20px;
    border-radius: .28571429rem;
    box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.3) !important;
    height: calc(100% - 20px);
    display: flex;
    align-items: center;
}

.widget-container.bg-white {
    border: 1px solid #F0F1F2;
    box-shadow: none !important;
}

.widget-img {
    margin-bottom: -10px;
}

.upgrade-img .widget-img {
    max-width: 120px;
    position: relative;
    top: -20px;
}

.widget-img-container .widget-img {
    max-width: 100%; 
}

.widget-container.bg-white .widget-details h3 {
    color: #19233B;
}

.widget-details h3 {
    color: #fff;
    font-size: 18px;
}

.widget-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.widget-container .widget-details ul {
    list-style-type: none;
    padding: 0;
}

.widget-container .widget-details ul > li {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.widget-container .widget-details .ui.primary.button {
    background: #fff;
    color: #64ADD1;
    margin-top: 5px;
}

.widget-container.bg-white .widget-details .balance p {
    color: #526CFE;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}

.last-package-widget .widget-details .ui.primary.button {
    background: #526CFE;
    color: #fff;
}

/*** Drawer modal ***/
.drawer-modal {
    position: fixed;
    right: 0;
    width: 50%;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 9999;
}

.drawer-modal.open {
    animation: drawer 0.3s ease-in forwards;
    animation-delay: 0.5s;
    transform: translateX(100%);
}

.drawer-modal.closing {
    animation: drawer-close 0.3s ease-in forwards;
    animation-delay: 0s;
    transform: translateX(0);
}

.drawer-modal.closed {
    display: none;
}

.drawer-modal-dimmer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(82, 108, 254, 0.932);
    z-index: 9998;
    transform: translateX(100%);
    animation: drawer 0.5s ease-in forwards;
}

.drawer-modal-dimmer.red {
    background: rgba(221, 51, 62, 0.932);
}

.drawer-modal-dimmer.closing {
    animation: drawer-close 0.5s ease-in forwards;
    animation-delay: 0.3s;
    transform: translateX(0);
}

.drawer-modal-dimmer.closed {
    display: none;
}

.drawer-modal .modal-head {
    padding: 80px 40px 50px 40px;
    background: #F6F7FB;
}

.drawer-modal .modal-body {
    padding: 40px !important;
    position: static !important;
}

.drawer-modal .ui.form {
    margin-bottom: 20px; 
}

.drawer-modal.closed .modal-head h2,
.drawer-modal.closed .modal-body > div,
.drawer-modal.open .modal-head h2,
.drawer-modal.open .modal-body > div {
    opacity: 0;
}

.drawer-modal.closing .modal-head h2,
.drawer-modal.closing .modal-body > div {
    opacity: 1;
}

.drawer-modal .modal-head h2.animated,
.drawer-modal .modal-body .animated {
    animation-delay: 0.8s;
    animation-fill-mode: both;
}

.drawer-modal .ui.secondary.menu {
    background: #F6F7FB !important;
    margin-top: -40px;
    margin-left: -40px !important;
    margin-right: -40px !important;
    margin-bottom: 40px;
    padding-bottom: 0 !important;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: none !important;
}

.drawer-modal .ui.secondary.pointing.menu .item {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s ease-out;
}

.drawer-modal .ui.secondary.pointing.menu .active.item,
.drawer-modal .ui.secondary.pointing.menu .active.item:hover,
.drawer-modal .ui.secondary.pointing.menu .item:hover {
    border-color: #526CFE;
}

.hide-modal {
    position: fixed;
    top: 30px;
    left: -60px;
}

.hide-modal:hover {
    cursor: pointer;
}

.hide-modal .far {
    color: #fff;
    font-size: 30px;
    z-index: 9999;
}

.drawer-modal .modal-head p {
    max-width: 65%;
    font-size: 16px;
    text-align: justify;
}

@keyframes drawer {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes drawer-close {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

/*** Dashboard - Last packages widgets ***/
.section-heading h2 {
    color: #19233B;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 20px !important;
}

.last-packages .col-sm-6 {
    padding-left: 10px;
    padding-right: 10px;
}

.last-package-big:hover,
.last-package-small:hover {
    transform: scale(1.02);
}

.last-package-small:hover {
    -webkit-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.3) !important;
    -moz-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.3) !important;
}

.last-package-big {
    background: #42C3AF;
    background-image: linear-gradient(45deg, #42C3AF 0%, #48E0C8 100%);
    padding: 30px;
    border-radius: .28571429rem;
    transition: all 0.3s ease-out;
}

.last-package-big .lpb-top {
    padding-bottom: 20px;
}

.last-package-big .lpb-top .top-row-label {
    display: block;
    color: #fff;
    font-size: 10px;
    opacity: 0.7;
}

.last-package-big .lpb-top .top-row-value {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

.last-package-big .lpb-content .lpb-title-container h2 {
    color: #fff;
    margin-bottom: 15px;
}

.last-package-big .lpb-content .lpb-message-container p {
    color: #fff;
    opacity: 0.7;
}

.last-package-big .lpb-content .lpb-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.last-package-big .lpb-content .lpb-button-container .ui.primary.button {
    background: #fff;
    margin: 0;
    color: #42C3AF;
}

.last-package-big div[class*='col'],
.last-package-small div[class*='col'] {
    padding: 0 !important;
}

.last-package-small {
    background: #FF4653;
    padding: 18px;
    border-radius: .28571429rem;
    transition: all 0.3s ease-out;
}

.last-package-small .lps-content .lps-title-container h2 {
    font-size: 14px;
    color: #fff;
}

.row.row-lps {
    margin-bottom: 20px !important;
}

.row.row-lps .col-sm-6 {
    padding-left: 10px;
    padding-right: 10px;
}

.last-package-small .lps-top .top-row-label {
    display: block;
    color: #fff;
    font-size: 10px;
    opacity: 0.7;
}

.last-package-small .lps-top .top-row-value {
    display: block;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
}

.last-package-small .lps-top {
    padding-bottom: 12px;
}

.last-package-small .lps-content .lps-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.last-package-small .lps-content .lps-button-container .ui.primary.button {
    background: transparent;
    margin: 0;
    color: #fff;
    box-shadow: none;
    padding: 0;
}